@charset "utf-8";
/* CSS Document */
#comoTestimonial_meta {
    overflow: hidden;
    padding-bottom: 1em;
}
#comoTestimonial_meta p {
    clear: both;
	padding-bottom: 1em;
	display: table;
	width: 100%;
}
.comometa-row-title {
    display: table-cell;
	font-weight: bold;
	width: 20%;
}
.comometa-row-content {
	display: table-cell;
	width: 89%;
}
.comometa-row-content input[type='text'] {
	width: 100%;
} 
.comometa-row-content .inline,
.comometa-row-content input.inline,
.comometa-row-content input[type='text'].inline,
.comometa-row-content input.inline[type='text'] {
	display: inline !important;
	width: auto !important;
} 
.comometa-row-content.upload-field input[type='text'] {
	width: 75%;
} 
.comometa-row-content label {
    display: block;
    line-height: 1.75em;
}